bin/*.tar.gz
test/inflated
test/tmp
test/server.log
.DS_Store
build/
bin/darwin-arm64
bin/darwin-x64
bin/linux-x64
bin/linux-arm64
bin/linux-armv7l
bin/linux-ppc64le
bin/linux-s390x
bin/win-x64
bin/win-arm64
node_modules/
sea/deps/node*
sea/deps/esbuild*
sea/basic-compile.base64.sh
#sea/deps/
sea/types/
sea/types.json
sea/version.tag
.types
server.log
db.sqlite3
tmp/
inflated/
app/
.admin_key
API.md
API.json
*.sqlite3
