.DS_Store
bin/
sea/config/
sea/deps/
sea/types/
sea/version.tag
sea/esbuild.version.tag
.types/
test/
app/
.admin_key
*.sqlite3
inflated/
.vscode/
.editorconfig
*.log
build/*.blob
build/main.js
build/postject.cjs
API.md
API.json
#tsconfig.json
tsconfig-with-typings.json
