.github
.DS_Store
*.tar.gz
bin/darwin-arm64
bin/darwin-x64
bin/linux-x64
bin/linux-arm64
bin/linux-armv7l
bin/linux-ppc64le
bin/linux-s390x
bin/win-x64
bin/win-arm64
sea/config/
sea/deps/
sea/types/
sea/version.tag
sea/esbuild.version.tag
.types/
test/
app/
.admin_key
*.sqlite3
inflated/
.vscode/
.editorconfig
*.log
build/*.blob
build/main.js
build/postject.cjs
build/postject.base64.cjs
API.md
API.json
tsconfig.json
tsconfig-with-typings.json
sea/editor-assets
sea/*.js
sea/compile.sh
sea/copy-types.sh
sea/copy-types.sh
sea/release-tar.sh
sea/tsc.sh
#editor/
#src/
bin/miqro
sea/assets.base64.json
sea/jsx-assets.js
.eslintrc
src/
editor/